.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

.row i {
  padding-right: 5px;
}

.row > div, .row > a {
  text-decoration: none; 
  text-overflow: ellipsis; 
  display: block; 
  overflow: hidden; 
  white-space: nowrap;
}